<!-- events/templates/events/about.html -->
{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content_title %}About{% endblock %}

{% block content %}
    <div class="container pt-4">
        <h3>Welcome to Paperless Event</h3>
        <p>
            Paperless Event is a platform designed to help you manage and organize events digitally.
            Easily create, view, and download materials for your events, all in one place.
        </p>
        <p>
            Our mission is to provide a seamless experience for event organizers and participants,
            making the entire event management process efficient and eco-friendly.
        </p>
        <p>
            If you have any questions, feedback, or need assistance, please feel free to contact us.
        </p>
        <p>
            Thank you for choosing Paperless Event for your event management needs!
        </p>
    </div>
{% endblock %}
